# Node
node_modules
dist
dist-ssr
*.local

# Rust / Tauri
src-tauri/target
src-tauri/gen/schemas

# 敏感信息与本地配置
.env
.env.*
*.db
*.db-journal
*.db-wal
*.db-shm

# 编辑器
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.log
